<div class="row">
  <div class="small-12">
    <form class="new-idea">
      <!-- Form Header -->
      <div class="row">
        <div class="small-1 columns"></div>
        <div class="small-10 columns">
          <h3>Tell us about your new idea!</h3>
        </div>
        <div class="small-1 columns"></div>
      </div>
      <br/>
      <!-- Title -->
      <div class="row">
        <div class="small-1 columns"></div>
        <div class="small-10 medium-8 large-6 columns">
          <input name="title" type="text" placeholder="Idea Title" />
        </div>
        <div class="small-1 medium-3 large-5 columns"></div>
      </div>
      <!-- Category -->
      <div class="row">
        <div class="small-1 columns"></div>
        <div class="small-10 medium-8 large-6 columns">
          <select name="category">
            <option value="biz-dev">Business Development</option>
            <option value="CSR">Corporate Social Responsibility</option>
            <option value="fin-and-ops">Finance & Operations</option>
            <option value="soc-and-net">Social & Networking</option>
          </select>
        </div>
        <div class="small-1 medium-3 large-5 columns"></div>
      </div>
      <!-- Short Description -->
      <div class="row">
        <div class="small-12 columns">
          <input name="short-desc" type="text" placeholder="Short Description" />
        </div>
      </div>
      <!-- Long Description -->
      <div class="row">
        <div class="small-12 columns">
          <textarea name="long-desc" type="text" placeholder="Long Description"></textarea>
        </div>
      </div>
      <!-- Link to Idea Supporting Docs -->
      <div class="row collapse">
        <div class="small-12 columns">
          <input name="idea-support-url" type="text" placeholder="Link to support for your idea: http://www.example.com/">
        </div>
      </div>
      <br/>
      <!-- Submit Button -->
      <div class="row">
        <div class="small-12 columns">
          <input class="button radius" id="ideaSumbit" type="submit" value="Submit your idea!">
        </div>
      </div>
    </form>
  </div>
</div>