<div class="row">
  <div class="small-1 columns">&nbsp</div>
  <div class="small-10 columns">
    <br/>
    <h2>Edit Idea</h2>
    <br/>
    <%= render 'edit_idea_form' %>    
  </div>
  <div class="small-1 columns">&nbsp</div>
</div>