<div class="row">
  <div class="large-8 columns large-centered"> 

    <div class="comment-wall"></div>

      <div class="panel">
        <h4>add a comment</h4>
        <form class="new-comment">
          <label>name</label>
          <input name="username" type="text" />

          <label>Comment</label>
          <textarea name="comment"></textarea>

          <input type="submit" value="Submit Comment" />
        </form>
      </div>
    </div>
  </div>
</div>
