<!-- Current user's contributions -->
<div class="row">
  <h2>My Contributions</h2>
</div>
<br/>

<div class="row">    
  <table class="my-tables">
    <thead>
      <tr>
        <th>Idea Name</th>
        <th>My Total Contribution</th>
        <th>Idea Total Tap Count</th>
      </tr>
    </thead>

    <tbody>
      <% if !current_user.transactions %>
        <% my_contributions.each do |c| %>
          <tr>
            <td><%= link_to Idea.find(c.idea_id).title, idea_path(c.idea_id) %></td>
            <td><%= c.total_contribution %></td>
            <td><%= Idea.find(c.idea_id).coffer %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
