<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-12">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>

</br>

<a href="#" data-reveal-id="ideaForm">Create a new idea</a>

<div id="ideaForm" class="reveal-modal" data-reveal>
  <%= render "ideas/form" %>
</div>


<% content_for :javascript do %>
<script type="text/javascript">
(function () {


})();
</script>
<% end %>