<div class="row" id="about-box" style="display:none">
  <div class="small-1 medium-3 large-3 columns">&nbsp</div>
  <div class="small-10 medium-8 large-8 columns" id="about-contents" style="text-align:left">
    <h3>About IdeaTap</h3>
    <br />
    <h6>IdeaTap is a way for your company to bank on the ingenuity of its most valuable resource: its people. Employees can share and contribute to new ideas for improving business, while providing you with invaluable insight into how your company runs.</h6>
    <br />
    <h6>Contact us today to learn more!</h6>
    <br />
    <h6>Laney Bevill: laney.bevill@gmail.com</h6>
    <h6>Casey White: casey.r.white@gmail.com</h6>
  </div>
  <div class="small-1 columns">&nbsp</div>
</div>


<% content_for :javascript do %>
<script type="text/javascript">
(function () {

  // Move back and forth between sign in and forgot password dropdowns
  var clickSignin = function() { $('[name="signin-dropdown"]').trigger('click'); };
  var $signin = $('[name="signin"]');
  var $forgotPassowrd = $('[name="forgot-password"]');
  
  $('#forgot-button').on('click', function(e) {
    e.preventDefault;
    clickSignin();
    $signin.removeAttr('id');
    $forgotPassowrd.attr('id', 'signin');
    clickSignin();
  });

  $('#back-to-signin-button').on('click', function(e) {
    e.preventDefault;
    clickSignin();
    $forgotPassowrd.removeAttr('id');
    $signin.attr('id', 'signin');
    clickSignin();
  });

  // Display about info on click event
  $('[name="about-button"]').on('click', function(e) {
    e.preventDefault;
    $('html').toggleClass('landing-bg-reduced');
    $('#about-box').toggle();
  })

})();
</script>
<% end %>
